Package: com.wilsonthewolf.helloworld
Name: Hello World
Version: 0.0.1
Architecture: iphoneos-arm
Description: A hello world tweak.
Maintainer: WilsontheWolf
Author: WilsontheWolf
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
